Work/
Work_x86/
libadf.a
libadf_x86.a
aiesimulator_output/
x86simulator_output/
*.log
.Xil/
.AIE_SIM_CMD_LINE_OPTIONS
ISS_RPC_SERVER_PORT
aiesim.vcd
Map_Report.csv
sol.db
pl_sample_counts
plio_throughput_info.json
vitis_analyzer*/
temp/
function_wdb_dir/
data/
aie/parameters.h
aie/weights/
aie/graph.cpp
bin/
__pycache__/
throughput_info.json